{% extends "layout.html" %}

{% block title %}
  <title>Cadastre sua instituição - Ecoleta</title>
{% endblock %}
{% block styles %}
  <link href="/styles/page-create.css" rel="stylesheet">
{% endblock %}

{% set pageId = "page-create" %}

{% block content %}
  {% include "./components/page-header.html" %}
    <div class="form">
      <form action="/">
        <h1>Cadastro de Ponto de Coleta</h1>
        <fieldset>
          <legend>
            <h2>Dados da entidade</h2>
          </legend>
          <div class="field-group">
            <div class="field">
              <label for="name">Nome da entidade</label>
              <input type="text" name="name" id="name" required>
            </div>
            <div class="field">
              <label for="name">Foto - URL</label>
              <input type="url" name="name" id="name" placeholder="https://" >
            </div>
          </div>

          <div class="field-group">
            <div class="field" id="big">
              <label for="address-t">Endereço</label>
              <input type="text" name="address-t" id="address-t" required>
            </div>
            <div class="field" id="small">
              <label for="address-n">Número</label>
              <input type="text" name="address-n" id="address-n" required>
            </div>
          </div>

          <div class="field-group">

            <div class="field">
              <label for="uf">Estado</label>
              <select name="uf" id="uf" disabled required>
                <option value="">Selecione o estado</option>
              </select>
            </div>
            <div class="field">
              <label for="city">Cidade</label>
              <select name="city" id="city" disabled required>
                <option value="">Selecione a cidade</option>
              </select>
            </div>

          </div>

        </fieldset>

        <fieldset>
          <legend>
            <h2>Ítens de Coleta</h2>
            <p>Selecione um ou mais itens abaixo</p>
          </legend>

          <div class="items-grid">
            <div class="item-grid">
              <li data-id="0">
                <img src="./assets/lampadas.svg" alt="Lâmpadas">
                <span>Lâmpadas</span>
              </li>
            </div>

            <div class="item-grid">
              <li data-id="1">
                <img src="./assets/baterias.svg" alt="Pilhas e Baterias">
                <span>Pilhas e Baterias</span>
              </li>
            </div>

            <div class="item-grid">
              <li data-id="2">
                <img src="./assets/papeis.svg" alt="Papéis e Papelão">
                <span>Papéis e Papelão</span>
              </li>
            </div>

            <div class="item-grid">
              <li data-id="3">
                <img src="./assets/eletronicos.svg" alt="Resíduos Eletrônicos">
                <span>Resíduos Eletrônicos</span>
              </li>
            </div>

            <div class="item-grid">
              <li data-id="4">
                <img src="./assets/organincos.svg" alt="Resíduos Orgânicos">
                <span>Resíduos Orgânicos</span>
              </li>
            </div>

            <div class="item-grid">
              <li data-id="5">
                <img src="./assets/oleo.svg" alt="Óleo de Cozinha">
                <span>Óleo de Cozinha</span>
              </li>
            </div>
          </div>

        </fieldset>

        <button type="submit">Cadastrar ponto de coleta</button>

      </form>
    </div>
{% endblock %}
{% block scripts %}
  <script src="./scripts/create.js"></script>
{% endblock %}
