{% extends "layout.html" %}

{% block title %}
  <title>Ecoleta</title>
{% endblock %}

{% block styles %}
  <link href="/styles/page-home.css" rel="stylesheet">
  <link href="/styles/modal.css" rel="stylesheet">
{% endblock %}

{% set pageId = "page-home" %}

{% block content %}
  <div class="content">
    <header>
      <img src="/assets/logo.svg" alt="">
      <a href="/create">
        <span></span>
        Cadastre um ponto de coleta
      </a>
    </header>
    <main>
      <h1>Seu marketplace de coleta de resíduos</h1>
      <p>Ajudando pessoas a encontrarem um ponto de coleta de forma eficiente</p>
      <a href="#">
        <span></span>
        <strong>Pesquisar pontos de coleta</strong>
      </a>
    </main>
  </div>
{% endblock %}

{% block hideins %}
  {% include "./components/search-sh.html" %}
{% endblock %}  
