<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta 
    name="viewport"
    content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/assets/favicon.ico"/>
  
  {% block title %}
    <title>Ecoleta</title>
  {% endblock %}

  <link href="/styles/main.css" rel="stylesheet">
  {% block styles %}  
  {% endblock %}
  <link href="/styles/responsive.css" rel="stylesheet">
</head>
<body>
  <div id="{{ pageId }}">  
    {% block content %}
    {% endblock content %}
  </div>
  {% block hideins %}
  {% endblock %}
  
  {% block scripts %}
  {% endblock %}

</body>
</html>
