#page-create {
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
  max-width: 1100px;
  display: flex;
  flex-direction: column;
}

header {
  margin-top: 5vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a {
  display: flex;
  color: var(--title-color);
  font-weight: 700;
}
header a span {
  margin-right: 2vw;
  display: flex;
  background-image: url('../assets/arrow-left.svg');
  width: 24px;
  height: 24px;
}

form {
  background-color: #fff;
  padding: 64px;
  margin: 0 auto;
  margin-top: 80px;
  border-radius: 8px;
  max-width: 730px;
}

form h1 {
  font-size: 36px;
}

form fieldset {
  margin-top: 64px;
  border: 0;
}

form legend {
  margin-bottom: 40px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
form legend h2 {
  font-size: 24px;
}

form .field-group {
  display: flex;
}

form .field {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-bottom: 24px;
}

form #small.field {
  flex: none;
  width: 10vw;
}

form .field-group .field + .field {
  margin-left: 24px;
}

form label {
  font-size: 14px;
  margin-bottom: 8px;
}

form input, form select {
  background-color: var(--input-color);
  border: 0;
  padding: 16px 24px;
  font-size: 16px;
  border-radius: 8px;
  transition: background-color 500ms;
  -webkit-appearance: none;
  -moz-appearance: none;
}

form input:active, form select:active,
form input:focus, form select:focus {
  background-color: #e0e0e5;
}

form button {
  height: 56px;
  width: 260px;
  background-color: var(--primary-color);
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  border: 0;
  border-radius: 8px;
  margin-top: 40px;
  transition: background-color 500ms;
}

form button:hover {
  background-color: #2fb86e;
}

#page-create .center {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.items-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
}

.item-grid li {
  background-color: #E1FAEC;
  list-style: none;
  border: 2px solid #E1FAEC;
  border-radius: 8px;
  height: 180px;
  padding: 32px 24px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  cursor: pointer;
  transition: background-color 500ms, border 500ms;
}

.item-grid li span {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--title-color);
}
.item-grid li span,
.item-grid li img {
  pointer-events: none;
}

.item-grid li.selected {
  background: #e1faec;
  border: 2px solid #34cb79;
  background: linear-gradient(0deg, #E1FAEC 0%, #FFFFFF 100%);
  border: 2px solid #34CB79;
}
